<!DOCTYPE html>
<html>
  <head>
    <title>PerfectPeruse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <script type="text/javascript">
        window.headlineURL = "<%= image_url('headline.png') %>";
    </script>

    <script type="text/javascript">
        window.harrypotterURL = "<%= image_url('harrypotter.jpg') %>";
    </script>

    <script type="text/javascript">
        window.agameofthronesURL = "<%= image_url('agameofthrones.jpg') %>";
    </script>

    <script type="text/javascript">
        window.thewayofkingsURL = "<%= image_url('thewayofkings.jpg') %>";
    </script>

    <script type="text/javascript">
        window.theemperorssoulURL = "<%= image_url('theemperorssoul.jpg') %>";
    </script>

      <script type="text/javascript">
        window.thenameofthewindURL = "<%= image_url('thenameofthewind.jpg') %>";
    </script>




        <script type="text/javascript">
        window.endersgameURL = "<%= image_url('endersgame.jpg') %>";
    </script>

    <script type="text/javascript">
        window.a2001URL = "<%= image_url('a2001.jpg') %>";
    </script>

    <script type="text/javascript">
        window.foundationURL = "<%= image_url('foundation.jpg') %>";
    </script>

    <script type="text/javascript">
        window.a112263URL = "<%= image_url('a112263.jpg') %>";
    </script>

      <script type="text/javascript">
        window.duneURL = "<%= image_url('dune.jpg') %>";
    </script>

    <script type="text/javascript">
        window.discoveryarrowURL = "<%= image_url('discovery_arrow.png') %>";
    </script>

    <script type="text/javascript">
        window.facebookURL = "<%= image_url('facebook.svg') %>";
    </script>

    <script type="text/javascript">
        window.twitterURL = "<%= image_url('twitter.svg') %>";
    </script>

     <script type="text/javascript">
        window.instagramURL = "<%= image_url('instagram.svg') %>";
    </script>

    <script type="text/javascript">
        window.linkedinURL = "<%= image_url('linkedin.svg') %>";
    </script>

    <script type="text/javascript">
        window.applestoreURL = "<%= image_url('applestore.svg') %>";
    </script>

    <script type="text/javascript">
        window.googleplayURL = "<%= image_url('googleplay.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
